@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 172 66% 63%;
    --primary-foreground: 0 0% 4%;
    --secondary: 240 4% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 10%;
    --muted-foreground: 240 5% 45%;
    --accent: 240 4% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 10%;
    --input: 240 4% 10%;
    --ring: 172 66% 63%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply antialiased;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#09090b] text-[#fafafa];
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  ::selection {
    background-color: rgba(94, 234, 212, 0.25);
    color: #fafafa;
  }

  /* Hide scrollbar but allow scrolling */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}
